<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="AboutUs.css">
  </head>
  <body>
    <nav
    class="navbar sticky-top navbar-expand-lg navbar-light bg-secondary"
  >
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item div8">
          <a class="nav-link text-white  div7" href="HomePage.html">Home</a>
        </li>
        <li class="nav-item  div9">
          <a class="nav-link text-white  div7" href="Login.html">Log In</a>
        </li>
        <li class="nav-item  div9">
          <a class="nav-link text-white  div7" href="SignIn.html">Sign In</a>
        </li>
    </div>
  </nav>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">ABOUT US</h1>
        <p class="lead">
          This project has been developed by a team of three students from the LNM Institute of Information Technology, with the intention of reducing food waste, and making more food available to those who need it. Built conscientiously and with great patience, we have incorporated all modern features into our website, but not at the ease of use for our users. We hope our contribution to the mission of ending global hunger is significant, and together we step closer to this dream of achieving global contentment in regards to food.
        </p>
        <hr class="my-4" />
        <p>
          We operate in a volunteer network; registered organizations pick up food from registered messes, and distribute them to beneficiaries in need. Our process helps rescue and reroute fresh consumable food, which would otherwise get wasted, to those in need of regular access to food.          
        </p>
        <p>Our beneficiaries include but are not limited to children, women, the elderly, specially-abled and migrant labourers.</p>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
